.inline-block{
    display:inline-block;
    vertical-align: top;
    font-family: K2D, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    
    
/* identical to box height */
/* Purplish? */
}

.logo{
    width: 23%;
    padding: 1%;
    text-align: left;
    cursor: pointer;

}

.logo:hover{
    animation: bounceLogo .7s infinite;
}

@keyframes bounceLogo {
    from{
    }
    50% {
      transform: translate(0px, 5px);
    }
    to {
  
    }
  }

nav{
    width: 72%;
    padding: 1%;

}
/* Skill Page CSS*/
.flexContainer{
    display: flex;
    font-family: K2D;
    font-size: 25px;
    margin: auto;
    width: 90%;
    padding: 30px;

}

.flexContainer div{
    width: 33%;
    padding: 5px;
}

.icons{
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}

.skillList{
    text-align: center;
}

.skillList li{
   font-family: K2D;
   font-size: medium;
   color: black
}

/* Work Page CSS*/
.workGrid{
    margin: 0px 5%;
    display: grid;
    grid-template-areas: 'npr epa talaris';
    grid-area: myArea;
    justify-items: center;
    padding: 25px;
}

h2{
    font-family: K2D;
}

ul, .flexContainer h4{
    background-image: linear-gradient(180deg, #6B48CC 0%, #312ECA 100%);
    background-clip: text;
    height: 50px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    width: 50%;
    margin-left: auto;
    cursor: pointer;
    }

    li{
        margin: 3.2px;
    }

li:hover{
    text-decoration: underline;
    cursor: pointer;
    transform: scale(1.1,1.1);
    color: black;

}

h1{
    font-family: Bangers, sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 58px;
    font-kerning: 2px;
    letter-spacing: 1px;
}
 h3{
    font-family: Bangers, sans-serif;
    font-style: bold;
    font-weight: 600;
    font-size: 40px;
    font-kerning: 1px;
    letter-spacing: 1px;
 }


.headshot{
    display: block;
    height: 620px;   
    float: right;
    padding: 25px;
}

h1, h3, p{
    margin: 5px;
    padding: 11px;
}

.aboutSection{
    display: block;
    height: 542px;
    width: 650px;
    font-family: K2D, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    padding: 1%;
    justify-content: space-evenly;
}

b{
    background-image: linear-gradient(180deg, #6B48CC 0%, #312ECA 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 36px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.why{
    background-image: linear-gradient(180deg, #6B48CC 0%, #312ECA 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

.buttonResume{    
    display: flex;
    height: 50px;
    width: 673px;
    align-items: center;
    justify-content: center;  

}

button{
    border-color: white;
    background: linear-gradient(180deg, #6B48CC 0%, #312ECA 100%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    color: white;
    width: 200px;
    height: 250px;
    text-align: center;
    height: 50px;
    /* Add the css property transition here! */
    transition: 0.3s ease-out;  
    font-family: K2D, sans-serif;
    font-style: bold;
    font-size: 20px;
    cursor: pointer;  

    
  }
  /* active state */
  button:hover {
    /* Add your hover state css here. */
  border-color: none;
  font-weight: bold;
  transform: scale(1.1,1.1);
  background: linear-gradient(180deg, #6B48CC 0%, #312ECA 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  font-family: K2D, sans-serif;
    font-style: bold;
    font-size: 22px;
    cursor: pointer;

  }
  
  .footer{
    margin-top: 100px;
    height: 75px;
    background: linear-gradient(180deg, #6B48CC 0%, #312ECA 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.social{
    cursor: pointer;
    margin: 5px;
}

@media only screen and (max-width: 600){
   .workGrid {
    grid-template-rows: 300px 300px 300px;
    grid-template-columns: 1fr;
    grid-template-areas:
        "npr"
        "epa"
        "talaris"
    ;
   }
}
